:root {
    --color-white: #FFF;
    --color-black: #000;
    --color-black-degrade: rgba(0, 0, 0, .2);
    --color-primary: #0399DE;
    --color-link: #005770;

    --font-principal: 'Nunito Sans';

    --input-background: #F8F8F8;
    --input-color: #8F9BB3;
    --input-border-color: 1px solid rgba(0, 0, 0, .1);
}
.container {
    background: var(--color-white);
    width: 100%;
    max-width: 1018px;
    margin: auto;
    font-family: var(--font-principal);
}

.form-title {
    margin: 40px auto 18px;
}

.form-title:first-child {
    margin-top: 35px;
}

.form-title h2,
.form-title h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}

.form-title h2 {
    font-weight: bold;
    font-size: 28px;
}

.form-title h3 {
    text-transform: uppercase;
}

.form-row {
    width: 100%;
    margin: 0 0 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-row .form-column-full {
    display: flex;
    width: 100%;
}

.form-row .form-column-middle {
    display: flex;
    width: 50%;
    max-width: 491px;
}

.form-row select,
.form-row input[type=text],
.form-row input[type=date],
textarea {
    font-size: 11px;
    width: 100%;
    height: 40px;
    background: var(--input-background);
    border: var(--input-border-color);
    color: var(--input-color);
    padding: 0 16px;
    outline: none;
}

.form-row input[type=text]::placeholder,
.form-row input[type=date]::placeholder {
    color: var(--input-color);
}

.form-row select {

}

.form-row textarea {
    height: 80px;
    padding: 16px;
}

.form-row .form-column-middle:nth-child(2n+1) {
    text-align: left;
}

.form-row .form-column-middle:nth-child(2n+2) {
    text-align: right;
}

ul.information {
    list-style: none;
    width: 100%;
    background: var(--color-primary);
    color: var(--color-white);
    margin: 0;
    padding: 14px 11px;
    font-size: 15px;
    font-weight: bold;
}

ul.information li {
    list-style: disc;
    margin: 0 0 0 16px;
}

.form-row input[type="radio"] {
    display: none;
}

.form-row input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: var(--input-border-color);
    background: var(--input-background);
    margin-right: 8px;
    position: relative;
    top: 2px;
}

.form-row input[type="radio"]:checked + label::before {
    background-color: var(--color-primary);
    border: 2px solid var(--color-black-degrade);
}

.rd-privacy-policy-text {
    color: var(--color-black);
    font-size: 17px;
}

.rd-privacy-policy-text a {
    color: var(--color-link);
}

.content-button {
    justify-content: center;
    align-items: center;
}

.content-button button[type=submit] {
    background-color: var(--color-primary);
    color: var(--color-white);
    outline: none;
    border: none;
    font-size: 17px;
    text-transform: uppercase;
    width: 177px;
    height: 47px;
}

ul.disclaimer {
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--color-black);
    font-size: 14px;
}